#css1{
border: 10px dotted Cornsilk;
padding: 20px;
background:#fffcf1;
background-clip:padding-box;
font-size:150%;
}

#rotate{
color:#f00000;
font-size:120%;


.image{
position:middle;
width:100%;
}

#final{
font-size:150%;
}
