#css1{
 display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: #FF99CC ;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);
}
#heart {
 position: relative; 
 width: 100px; 
height: 90px; }
 
#heart:before, #heart:after { position: absolute; content: ""; left: 50px; top: -30px; width: 50px; height: 80px; background: #FF99CC; -moz-border-radius: 50px 50px 0 0; border-radius: 50px 50px 0 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transform-origin: 0 100%; -moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%; -o-transform-origin: 0 100%; transform-origin: 0 100%; } #heart:after { left: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform-origin: 100% 100%; -moz-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; -o-transform-origin: 100% 100%; transform-origin :100% 100%; }

k{

 display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: #FF99CC;
  opacity:0.8;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);}

#rotate{

        font-family: Georgia, "Times New Roman", Times, serif;
        font-size:34px;
	margin-top: 5px; margin-bottom: 0px;
	text-align: center;
        font-weight: normal;
color:#FF99CC;
text-shadow: 2px 2px 2px #CCCCCC;}




.image{
position:middle;
width:100%;
}

#final{
font-size:150%;

}

