#css1{
border: 10px dotted Cornsilk;
padding: 20px;
background:#fffcf1;
background-clip:padding-box;
font-size:150%;
}

#rotate{
color:#f00000;
font-size:120%;
/*background-image:url(skull.jpg);
text-align:center;
width:300px;
line-height:350px;
height:320px;
background-color:white;
-ms-transform:rotate(7deg);
-webkit-transform:rotate(7deg);
transform:rotate(7deg);
}*/

.image{
position:middle;
width:100%;
}

#final{
  
}
